{% extends 'base.html.twig' %}

{% block body %}

    <header>Edition d'un article :)</header>
    <br>
    {{ form_start(formArticle) }}
    <br>
    <div class="form-group">
        {{ form_row(formArticle.title) }}
    </div>
    <br>
    <div class="form-group">
        {{ form_row(formArticle.content) }}
    </div>
    <br>
    <div class="form-group">
        {{ form_row(formArticle.image) }}
    </div>
    <br>
    <div class="form-group">
        {{ form_row(formArticle.category) }}
    </div>
    <br>
    <button type="submit" class="btn btn-success">Modifier l'article</button>
    <br>
    {{ form_end(formArticle) }}

{% endblock %}
