{% extends 'base.html.twig' %}

{% block body %}
    <header xmlns="http://www.w3.org/1999/html">{{ article.title }}</header>
    <br>
    <div class="metadate">Ecrit le {{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date('H:i') }} dans la catégorie {{ article.category.title }}</div>
    <br>
    <div class="content">
        <img src="{{ article.image }}" alt="">
        <br>
        {{ article.content | raw }}
    <br>
     {# <a href="{{ path('blog_edit', {'id': article.id}) }}"><button type="submit" class="btn btn-success">Modifier l'article</button></a> #}

    <section id="commentaires">
        {% for comment in article.comments %}
            <div class="comment">
                <div class="row">
                    <div class="col-3">
                        {{ comment.author }} <small>{{ comment.createdAt | date('d/m/Y') }}</small>
                    </div>
                    <div class="col">
                        {{ comment.text | raw }}
                    </div>
                </div>
            </div>
        {% endfor %}
        <br>
        <hr>
        {% if app.user %}

        <h4>Création d'un commentaire</h4>
            <br>
            {{ form_start(formComment) }}
            <br>

            <div class="form-group">
                {{ form_row(formComment.text) }}
            </div>
            <br>
            {# <div class="form-group">
                {{ form_row(formComment.author) }}
            </div>  #}
            <br>
            <button type="submit" class="btn btn-success">Créer le commentaire</button>
            <br>
            {{ form_end(formComment) }}
            <br>
        {% else %}
            <h3>Vous ne pouvez pas commenter sans vous connecter</h3>
            <a class="button" href="{{ path('security_login') }}">Me connecter</a>
        {% endif %}
    </section>
    <br>
{% endblock %}